.lessons-dashboard {
    padding: 20px;
    text-align: center;
}

.lesson-cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid layout */
    gap: 20px;
    padding: 20px;
    justify-items: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}


.notes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid layout */
    gap: 20px;
    padding: 20px;
    justify-items: center;
}
